@import url("https://fonts.googleapis.com/css2?family=Bokor&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Siemreap&display=swap");

*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  /*set for use rem 1rem=10px */
  font-size: 62.5%;
}
body {
  font-size: 16px;
  font-family: "Open Sans", "Siemreap", serif;
}

:root {
  --color-red: rgb(36, 1, 119);
}
h1,
h2 {
  font-size: 2.2rem;
}
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
span {
  display: inline-block;
}
span,
div,
section,
main,
nav,
article,
i {
  font-size: 1.8rem;
}

.container-width {
  max-width: 100%;
  margin: auto;
}
.btn {
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
}
.btn-one {
  background-color: blue;
}

/* mobile */
header {
  display: none;
}
.menu-desktop {
  display: none;
}
.mobile {
  display: block;

  background-color: black;
  padding: 5px 10px;
}
.mobile > ul {
  max-width: 53%;
  display: flex;
  /* background-color: red; */
  align-items: center;
  justify-content: space-between;
}
.mobile > ul > li > img {
  width: 50px;
  height: 50px;
}
.mobile > ul > li > i {
  color: whitesmoke;
  font-size: 25px;
}
.slid-toggle-mobile {
  display: none;
  background-color: red;
  animation: showMenuMobile 0.3s ease-in-out forwards;
}
/* hero grid laptop */
.grid-hero {
  display: none;
}
.slide-mobile {
  display: block;
  height: 300px;
  background-color: blue;
}
.slide {
  width: 100%;
  height: 100%;
  background-color: red;
  position: relative;
}
.txt-slid {
  position: absolute;
  bottom: 15px;
  left: 15px;
  color: white;
  font-size: 2rem;
  text-align: start;
  font-weight: bold;
}

/* main section */
.grid-main-section {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 300px;
  gap: 10px;
  height: 300px;
  overflow-x: scroll;
  padding: 0 10px;
}
.main-left,
.main-center,
.main-right {
  /* background-color: red; */
  height: 100%;
  overflow: hidden;
}
.items {
  height: 50%;
}
.items img {
  width: 100%;
  height: 100%;
}

.child-main-section {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 300px;
  gap: 10px;
  align-items: stretch; /* make all children same height */
  height: 300px;
}
.items-child-section {
  /* background-color: red; */
}
.line {
  width: 130px;
  height: 50px;
  color: white;
  background-color: red;
  left: 0;
  top: -50px;
  position: absolute;
  display: flex;
  align-items: center;
  padding: 0 20px;
  clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
}
.main-section {
  position: relative;
  margin-top: 50px;
  border-top: 3px solid red;
  padding: 5px 0;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px;
}

.grid-content {
  border-top: 3px solid rgb(177, 117, 117);
  position: relative;

  /* background-color: blue; */
  margin-top: 80px;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  padding: 10px;
}
.content {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 300px;
  gap: 10px;

  overflow-x: scroll;
  padding: 0 10px;

  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.content-item,
.items {
  height: 70%;
  width: 100%;

  /* background-color: red; */
}
.content-item img,
.items img {
  width: 100%;
  height: 100%;
}
.content-left,
.item-right {
  height: 300px;
}
.content-right {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 300px;
  gap: 10px;
  align-items: stretch; /* make all children same height */
}
/* tablet */

@media (min-width: 768px) {
  .container-width {
    max-width: 80%;
    margin: auto;
  }
  header {
    background-color: rgb(18, 18, 18);
    height: 120px;
    display: block;
  }
  .header {
    height: 100%;

    padding: 15px 0;
  }
  .header img {
    width: 90px;
    height: 100%;
  }
  .navigation {
    background-color: red;
    position: sticky;
    top: 0;
    z-index: 100;
  }
  .menu-desktop {
    display: block;
  }
  .mobile {
    display: none;
  }

  .nav .menu-desktop {
    display: flex;
    gap: 10px;
  }
  .nav ul li {
    padding: 10px 15px;
  }
  .nav ul li:first-child {
    background-color: blue;
  }
  .nav ul li a {
    font-family: "Open Sans", "Bokor", sans-serif;
    color: white;
  }
  .slid-toggle-mobile {
    display: none;
  }
  .slid-toggle-mobile {
    animation: hidMenuMobile 0.3s ease-in-out forwards;
  }
  /* hero section */
  .grid-hero {
    margin-top: 10px;
    display: grid;
    grid-template-rows: 300px 300px;
    grid-template-columns: 42% 33% auto;
  }
  .hero-items-1 {
    background-image: url("https://cdn.sabay.com/cdn/media.sabay.com/media/Rith.file/filenew/68c8ee2b16a58_1757998620_small.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }
  .hero-items-2 {
    background-image: url("https://cdn.sabay.com/cdn/media.sabay.com/media/Rith.file/fileSpec/68c3e5e8839aa_1757668800_small.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }
  .hero-items-4 {
    background-image: url("https://cdn.sabay.com/cdn/media.sabay.com/media/Rith.file/fileSpec/68c3d53b39744_1757664540_small.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }
  .hero-items-5 {
    background-image: url("https://cdn.sabay.com/cdn/media.sabay.com/media/Rith.file/fileSpec/68c12cb3b869b_1757490300_small.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
  }

  .hero-item-3-top {
    width: 98%;
    margin-left: 2%;
    height: 99%;
    background-color: rgb(152, 152, 209);
    padding: 5px;
    margin-bottom: 1%;
  }
  .hero-item-6-bottom {
    margin-top: 1%;
    margin-left: 2%;
    width: 98%;
    height: 99%;
    background-color: rgb(152, 152, 209);
    padding: 5px;
  }
  .hero-hover:hover {
    box-shadow: inset 0 -150px 120px rgba(5, 5, 5, 0.98);
  }
  .grid-hero > div {
    position: relative;
  }
  .hero-title {
    position: absolute;
    bottom: 18%;
    color: whitesmoke;
    font-weight: bold;
    padding: 0 30px;
    transition: all 0.3s;
  }
  .hero-hover:hover > .hero-title {
    transform: translateY(-30px);
    bottom: 33%;
    color: red;
  }
  .hid {
    position: absolute;
    width: 100%;
    min-height: 0;
    padding: 0 30px;

    bottom: 13%;
    opacity: 0;

    transition: all 0.3s;
    color: white;
    font-size: 1.4rem;
  }
  .hero-hover:hover > .hid {
    transform: translateY(-20px);
    opacity: 100%;
  }

  .date {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: block;
    padding: 15px 30px;
    color: white;
    font-weight: bold;
  }

  /* mobile slid */
  .slide-mobile {
    display: none;
  }
  /* main section desktop */
  .grid-main-section {
    display: grid;
    grid-template-rows: 300px 400px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
      "left center right"
      "child-main child-main child-main";
    gap: 10px;
  }
  .main-section {
    position: relative;
    padding: 25px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    margin-top: 30px;
  }
  .main-left {
    /* background-color: blue; */
  }
  .main-center {
  }
  .main-right {
  }
  .child-main-section {
    grid-area: child-main;
    width: 100%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
  }
  .items-child-section {
    overflow: hidden;
  }
  .items {
    width: 100%;
    height: 50%;
    box-shadow: inset 0 -150px 120px rgba(5, 5, 5, 0.98);

    /* background-color: red; */
  }
  .items img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    z-index: 0;
    transition: all 0.3s ease-in-out;
  }
  .main-hover:hover > .items img {
    transform: scale(0.98);
    cursor: pointer;
  }
  .main-hover .items {
    z-index: 1;
    box-shadow: inset 0 -150px 120px rgba(5, 5, 5, 0.98);
  }
  .main-section {
    margin-top: 100px;
    border-top: 3px solid red;
  }
  /* .main-section::before {
    content: " កីឡា \3e";
    font-family: "Font Awesome 6 Free";
    display: flex;
  
    align-items: center;
    padding: 0 23px;
    width: 130px;
    height: 50px;

    background-color: red;
    position: absolute;
    left: 0;
    top: -50px;
    clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
  } */
  .line {
    width: 130px;
    height: 50px;
    color: white;
    background-color: red;
    left: 0;
    top: -50px;
    position: absolute;
    display: flex;
    align-items: center;
    padding: 0 20px;
    clip-path: polygon(0 0, 80% 0%, 100% 100%, 0% 100%);
  }
  .grid-main-section,
  .child-main-section {
    grid-auto-flow: unset;
    grid-auto-columns: unset;
    overflow-x: unset;
    height: unset;
  }

  .grid-content {
    border-top: 3px solid rgb(177, 117, 117);
    position: relative;

    /* background-color: blue; */
    margin-top: 80px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 30px;
  }

  /* content */
  .content {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 50% 50%;
    padding: 10px;
    gap: 20px;
  }
  .content-left {
    background-color: rgb(203, 82, 82);
    height: 400px;
  }
  .content-right {
    /* background-color: rebeccapurple; */
  }
  .content-item {
    height: 70%;
    width: 100%;
  }
  .content-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .content-right {
    display: grid;
    grid-template-rows: 1fr;
    /* grid-template-rows: repeat(2, 1fr); */
    grid-template-columns: repeat(2, 1fr);
    gap: 1%;
  }
  .item-right {
    /* background-color: red; */
    height: 200px;
    padding: 10px;
    overflow: hidden;
  }

  .content,
  .content-right {
    grid-auto-flow: unset;
    grid-auto-columns: unset;
    overflow-x: unset;
    height: unset;
  }
}

@media (min-width: 1024px) {
  .child-main-section {
    width: 80%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
  }

  /* content */
  .grid-content {
    border-top: 3px solid rgb(177, 117, 117);
    position: relative;
    height: 500px;
    /* background-color: blue; */
    margin-top: 80px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    padding: 30px;
  }
  /* content */
  .content {
    display: grid;
    grid-template-rows: 430px;
    grid-template-columns: 30% auto;
    padding: 10px;
    gap: 20px;
  }
  .content-left {
    background-color: rgb(203, 82, 82);
  }
  .content-right {
    /* background-color: rebeccapurple; */
  }
  .content-item {
    height: 70%;
    width: 100%;
  }
  .content-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .content-left span {
    font-size: 2rem;
    font-weight: bold;
    color: whitesmoke;
    padding: 10px;
  }
  .content-right {
    display: grid;
    grid-template-rows: 49.5% 49.5%;
    /* grid-template-rows: repeat(2, 1fr); */
    grid-template-columns: repeat(4, 1fr);
    gap: 1%;
  }
  .item-right {
    /* background-color: aqua; */
  }
}

@keyframes showMenuMobile {
  from {
    min-height: 0;
  }
  to {
    min-height: 200px;
  }
}
@keyframes hidMenuMobile {
  from {
    min-height: 200px;
  }
  to {
    min-height: 0;
  }
}